<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <script src="https://kit.fontawesome.com/abc62f7ecd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="css/appPage.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
    </head>
    
    <body>
        <!-- heading -->
        <div id="card">
            <h1>
                To do App
            </h1>
    
            <form action="" id="input-form" method="POST">
                <!-- div for text area for entering task -->
                <div id="task">
                    <label class="details" for="describe">Description</label><br/>
                    <textarea class="user-input" name="describe" id="describe" placeholder="Enter task descrition here"></textarea>
                </div>
                
                <!-- div for inputing category, date and priority -->
           
                                <!-- input for category -->
                    <div id="category">
                        <label class="details" for="drop-menu">Category</label><br/>
                        <select class="user-input" id="drop-menu" name="drop-menu">
                            <option value="Choose a category">Choose a category</option>
                            <option value="Personal">Personal</option>
                            <option value="Work">Work</option>
                            <option value="School">School</option>
                            <option value="College">College</option>
                            <option value="Household">Household</option>
                            <option value="Other">Other</option>
                        </select>
                    </div> 
                                <!-- input for date -->
                    <div id="calendar">
                        <label class="details" for="d-m-y">Deadline</label><br/>
                        <input class="user-input" type="date">
                    </div>
                            <!-- input of priority for the task -->
                    <div id="priority">
                        <label class="details">Task Priority</label><br/>
                        <div>
                            <span class="radio-option">
                                <input type="radio" name="urgent" id="high">
                                <label for="high">High</label>
                            </span>
                            <span class="radio-option">
                                <input type="radio" name="urgent" id="low">
                                <label for="low">Low</label>
                            </span>   
                            <span class="radio-option">
                                <input type="radio" name="urgent" id="low">
                                <label for="low">None</label>
                            </span>                     
                        </div>
                    </div>    
                    <!-- buttons for adding and removing task -->
                    <div id="form-btn">
                        <button id="add-btn" type="submit">Add task</button>
                        <button id="delete-btn" type="button">Remove task</button>
                    </div>
                
            </form>
    
            <div id="task-list">
                <!-- if the list is empty -->
                <div id="empty-list">
                    <h3>
                        You are done for the day
                    </h3>
                </div>
                <!-- tasks as list items -->
                <ul>
                    
                </ul>
    
            </div>
        </div>
        

    </body>
</html>